<div class="container">
  <div class="row mt-4 p-3">

    <div class="col-sm-3 p-3" style="border-right:3px solid black;">
      <ul class="nav flex-column">
        <li class="nav-item border">
          <a class="nav-link" href='{% url 'index' %}'>Inbox</a>
        </li>
        <li class="nav-item border">
          <a class="nav-link" href="{% url 'sent_items' %}">Sent Items</a>
        </li>
        <li class="nav-item border">
          <a class="nav-link" href="#">Recent</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-9 p-4 border-top">
      <div class="container">
        <p class="" style="">{{title}}</p>
        <hr>
        <div class="list-items">
          <ul class="list-group">
            {% for message in message_list %}
              <a class="nav-link" href="{%url 'message_detail' pk=message.id%}"><li class="list-group-item">
                <p>{{ message.trucated_message|truncatewords:3 }}</p>
                <p class="blockquote-footer"> <i>by {{message.sent_by}} | </i> {{ message.created_at|date:"D d M Y" }} </p>
              </li></a>
            {% empty %}
              <p class="text-center">No items in {{title}}</p>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
