{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block head_block %}
  {{form.media}}
{% endblock %}

{% block extra_script %}
  <script type="text/javascript">

    $("#id_message_body").keyup(function() {
      var marked_content = marked($(this).val());
      console.log(marked_content)
      $("#preview-content").html(marked_content);
      $("#preview-content img").each(function() {
        $(this).addClass("img-fluid")
      })
    });

  </script>
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
      <div class="col-sm-6 mt-5 border-right">
        <h3>Preview</h3>
        <hr>
        <div id="preview-content">

        </div>
      </div>
      <div class="col-sm-6 mt-5">

        <h3 class="text-center">Compose</h3>
        <hr>

        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action="" method="post">{% csrf_token %}
          {% bootstrap_form form %}
          <input class="btn btn-primary" type="submit" value="Send" />
        </form>

      </div>
    </div>
</div>


{% endblock %}
